* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width:fit-content;
}

nav {
    background-color: steelblue;
    padding: 10px;
    color:white;
}

nav a  {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: steelblue;
}

img {
    
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }
  p {
    padding: 0;
  }

  main {
    width: 500px;
  }
 
  aside{
    width: 20em;
    text-align: center;
    position: relative;
  }

  main img{
    width: 200px;
    height: auto;
  }

  footer{
    margin-top: 2%;
    border-top: 1px solid black;
    text-align: center;
  }

  /*class selectors*/

  .box {
    margin: 1rem;
    padding: 1rem;
    background-color: steelblue;
    color: white;
    border: 1px solid gray;
  }
#profile_pic{
  float: right;
}

  #state {
    color: black;
    position:absolute;
    left: 120px;

  }






